/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/*end reset*/

h3 {
  font-size: 22px;
  margin: 10px 0 0;
}
.ib {
  display: inline-block;
}
.page {
  width: 80%;
}
.user {
  width: 20%;
  vertical-align: top;
}

.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  background-color: #6383a8;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  margin: 0 5px;
}
.btn:hover {
  background-color: #6d8cb0
}


/* common */
h1 {
  font-size: 24px;
  font-weight: bold;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
.vertical-center:after {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}


html, body {
  height: 100%;
  font: 14px Arial, sans-serif;
}
.container {
  padding: 0 2%;
  width: 100%;
  position: relative;
  min-height: 100%;
}

#root {
  height: 100%;
}

/* nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
}
.nav li {
  // display: block;
}
.nav a.active {
  color: lightskyblue;
}
.main-nav {
  min-width: 300px;
  max-width: 500px;
  margin: 30px auto 0 auto;
}
.footer-nav .nav {
  display: initial;
}

/* form */
.form-error {
  color: red;
  font-size: 12px;
}
.form-input {
  margin-bottom: 10px;
}


/* header */
.header {
  background-color: rebeccapurple;
  width: 100%;
  height: 50px;
}
.logo {
  width: 100px;
  height: 100%;
  background-color: lightskyblue;
  text-align: center;
  color: #fff;
}
.auth {
  color: white;
  height: 100%;
  margin-right: 2%;
}

.content {
  margin: 30px auto 0 auto;
  padding-bottom: 90px;
}

/* footer */
.footer {
  padding: 10px;
  background-color: darkcyan;
  position: absolute;
  width: 96%;
  height: 90px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.copyrights {
  margin-left: 2%;
}
.footer-nav {
  margin-left: 2%;
}
.sponsors {
  margin-right: 2%;
}
.sponsors__item {
  
}



/* modal */

.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightblue;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid rebeccapurple;
  max-width: 500px;
  width: 80%;
  padding: 10px 0;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  color: #000;
}

.modal-body {
  padding: 10px;
  text-align: center;
}

.error {
  color: red;
}
.success {
  color: green;
}
.hidden {
  display: none;
  overflow: hidden;
}