@import 'reset';
@import 'variables';
@import 'modal';
@import 'vendor';

h3 {
  font-size: 22px;
  margin: 10px 0 0;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}
.ib {
  display: inline-block;
}
.page {
  width: 80%;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
.vertical-center:after {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}


html, body {
  height: 100%;
  font: 14px Arial, sans-serif;
}
.container {
  // padding: 0 2%;
  width: 100%;
  position: relative;
  min-height: 100%;
  &.__opened-drawer {
    // padding: 0 2% 0 0;
  }
}

#root {
  height: 100%;
}


.main {
  margin-left: 0;
  transition: margin-left 0.3s ease;
  .__opened-drawer & {
    margin-left: 240px;
  }
}

.content {
  padding: 20px 2% 90px;
}
h2 {
  text-align: center;
  display: block;
  color: rgba(0,0,0,.38);
  font-size: 20px;
  padding: 20px 0px;
  font-family: Roboto, sans-serif;
}

.hidden {
  display: none;
  overflow: hidden;
}

div.visible {
  opacity: 1;
  visibility: visible;
}

// tables
table {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
th {
  font-weight: bold;
  font-size: 1.1em;
  text-align: left;
  padding: 5px;
  margin-bottom: 10px;
}
td {
  padding: 5px;
}
tr {
  background: #bbbbbb;
}

// pagination
.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 10px 0;
}
.pagination li {
  width: 4%;
  background: lightskyblue;
  margin: 0 3%;
  text-align: center;
  cursor: pointer;
}
.pagination li.active {
  background: darkcyan;
  cursor: default;
}
.pagination li.disabled {
  cursor: default;
  opacity: 0.5;
}
.pagination a {
  display: block;
  padding: 20%;
}

